<h1>OOTP Tourney Stats</h1>

<p>What would you like to do?</p>

<p>View or edit <%= link_to "Run Environments", run_environments_path(@index) %></p>
<p>View or edit <%= link_to "Tournaments", tournament_tiers_path(@index) %></p>
<p>View or edit <%= link_to "Players", players_path(@index) %></p>
<p>View or edit <%= link_to "Tournament Stats", statistics_path(@index) %></p>
