<h1>Player!</h1>

<p>
  <strong>Name:</strong>
  <%= @player.FirstName %> <%= @player.LastName %>
</p>
 
<p>
  <strong>Overall:</strong>
  <%= @player.Card_Value %>
</p>

<p>
  <strong></strong>
  
</p>